@{
    ViewBag.Title = "Home Page";
}

<style>
    .row {
        margin-left: 10px;
    }

    .footer {
        height: 100px;
        background-color: gray;
    }
</style>


<div class="row">
    <div class="col-md-4">
        <a href="~/Pages/IntroToCSharp.html" target="_blank"><h2>Introduction to C#</h2></a>
        <p>
            The C# is very powerdul, object oriented,general purpose programming language.
            It was developed by Microsoft in 2000.
        </p>
        @* <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <a href="~/Pages/IntroToDotNet.html" target="_blank"> <h2>Introduction to .NET</h2></a>
        <p>Let's get introduced to .Net framework.</p>
    </div>

    <div class="col-md-4">
        <a href="~/Pages/OOPPillars.html" target="_blank"> <h2>OOPS Pillers</h2></a>
        @*  <a href="@Url.Action("OOpPillars", "Home")" target="_blank"> <h2>OOPS Pillers</h2></a>*@
        <p>
            Lets understand the pillers of object oriented programming.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="~/Pages/Classes.html" target="_blank"><h2>Classes in C#</h2></a>
        <p>Here we will learn about c# classes.</p>
    </div>
    <div class="col-md-4">
        <a href="~/Pages/DataTypes.html" target="_blank"><h2>Data types in C#</h2></a>
        <p>In this module , we will learn about data types in C#.</p>
    </div>
    <div class="col-md-4">
        <a href="~/Pages/variablesincsharp.html" target="_blank"><h2>Variables in c#</h2></a>
        <p>Let's get introduced to variables in C#.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="~/Pages/varincsharp.html" target="_blank"><h2>var in C#</h2></a>
        <p>Here we will learn about implicit type local variable - var</p>
    </div>
    <div class="col-md-4">
        <a href="~/Pages/Conditionalstatements.html" target="_blank"><h2>Decision making in C#</h2></a>
        <p>In this module , we will look at different decision making statements in C#.</p>
    </div>
    <div class="col-md-4">
        <a href="~/Pages/switchstatement.html" target="_blank"><h2>Switch case in c#</h2></a>
        <p>Let's learn about switch case in this module.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="~/Pages/whileloop.html" target="_blank"><h2>While loop in C#</h2></a>
        <p>Here we will learn about the while loop in C#.</p>
    </div>
    <div class="col-md-4">
        <a href="~/Pages/dowhile.html" target="_blank"><h2>Do while loop</h2></a>
        <p>In this module , we will learn about do..while loop.</p>
    </div>
    <div class="col-md-4">
        <a href="~/Pages/forloop.html" target="_blank"><h2>For loop</h2></a>
        <p>Let's learn about for loop in this module.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="~/Pages/operators.html" target="_blank"><h2>Operators in C#</h2></a>
        <p>Here we will learn about the while loop in C#.</p>
    </div>
    <div class="col-md-4">
        <a href="~/Pages/arrays.html" target="_blank"><h2>Arrays in C#</h2></a>
        <p>In this module , we will learn about do..while loop.</p>
    </div>
    <div class="col-md-4">
        <a href="~/Pages/jaggedarray.html" target="_blank"><h2>Jagged Array</h2></a>
        <p>Let's learn about for loop in this module.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="~/Pages/enums.html" target="_blank"><h2>Enum in C#</h2></a>
        <p>Here we will learn about the while loop in C#.</p>
    </div>
    <div class="col-md-4">
        <a href="~/Pages/typeconversion.html" target="_blank"><h2>Type Conversion C#</h2></a>
        <p>In this module , we will learn about do..while loop.</p>
    </div>
    <div class="col-md-4">
        <a href="~/Pages/structure.html" target="_blank"><h2>Structure in C#</h2></a>
        <p>Let's learn about for loop in this module.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="~/Pages/interface.html" target="_blank"><h2>Interface in C#</h2></a>
        <p>Here we will learn about the while loop in C#.</p>
    </div>
    <div class="col-md-4">
        <a href="~/Pages/exceptionhandling.html" target="_blank"><h2>Exception handling C#</h2></a>
        <p>In this module , we will learn about do..while loop.</p>
    </div>
    <div class="col-md-4">
        <a href="~/Pages/files_io_csharp.html"   target="_blank"><h2>Working with Files in C#</h2></a>
        <p>Let's learn about for loop in this module.</p>
    </div>
</div>



    @*<div class="footer">

        <div class="row">
            <div class="col-md-6">
                <h2>About</h2>
                <p>

                </p>
            </div>
        </div>
        <ul class="list-unstyled">
            <li>
                <a href="mailto:programmingknowledgehub@gmail.com" style="color:white;">programmingknowledgehub@gmail.com</a>

            </li>
        </ul>
        
    </div>*@
